# ###########
# Absolute path to nachos home directory.
nachos.home.dir = "/path/to/nachos/home/dir/"

# ###########
# Make command, which will be used to build all C files in nachos home directory.
# Command includes absolute path to nachos home directory mounted within environment.

# Specify whether to call make command before every set of tests (true or false).
# If not enabled, tests will rely on user to have all programs correctly compiled.
enable.command.make = "true"

# Examples for each environment (use ONE ONLY, modify paths accordingly!):

# Linux/Mac (path same as nachos.home.dir):
command.make = "make -C /path/to/nachos/home/dir/" # or /usr/bin/make if not in path

# Windows with Cygwin (by default mounted under /mnt):
command.make = "C:\\cygwin64\\bin\\bash.exe --login -c \"make -C /cygdrive/path/to/nachos/home/dir/\""

# Windows with WSL (by default mounted under /mnt):
# This one is longer, because as at the time of writing, WSL still contains bugs (see https://github.com/Microsoft/WSL/issues/2642).
# When you call command inside bash.exe, process created from java does not terminate like when called from command line.
# Simple workaround is to call bash.exe from command line. Because of this workaround, we do not see make command output
# in java program output. To give user chance to check for any possible compilation errors, specified command waits for
# user confirmation at the end of compilation (unix and cygwin variants are fully automated).
command.make = "C:\\Windows\\System32\\cmd.exe /c start /wait C:\\Windows\\System32\\bash.exe -c \"make -C /mnt/c/path/to/nachos/home/dir/; echo; echo; read -n 1 -s -p 'Press any key to continue...'\""


# ###########
# Make tidy command, which will be used to clean nachos home directory before running every
# test case and after running last test case (needed to provide consistent conditions for every test)

# Specify whether to call make tidy command (true or false).
# If not enabled, tests will clean nachos home directory from java code.
enable.command.make.tidy = "true"

# Examples for each environment (use ONE ONLY, modify paths accordingly!):

# Linux/Mac
command.make.tidy = "make tidy -C /path/to/nachos/home/dir/"

# Windows with Cygwin:
command.make.tidy = "C:\\cygwin64\\bin\\bash.exe --login -c \"make tidy -C /cygdrive/path/to/nachos/home/dir/\""

# Windows with WSL:
# Do not require user input in this one (should fly without problems)
command.make.tidy = "C:\\Windows\\System32\\cmd.exe /c start /wait C:\\Windows\\System32\\bash.exe -c \"make tidy -C /mnt/c/path/to/nachos/home/dir/\""